<body>
<h1>Synergia Rete</h1>
<p>Таким красивым словосочетанием на Интерлингве я хочу назвать мой вырисовывающийся проект. Сеть Синергия - это база знаний по моим знакомым, их интересам и проектам. Наверняка у моих знакомых есть ресурсы, которыми они могут обменяться, поделиться или недорого продать. Но так как они друг друга скорее всего не знают, а я знаю и тех и тех, то могу выступить посредником, проджект-брокером.</p>

<p>Кроме того, получаемая информация о проектах, тянет за собой информацию о проектах соседних, и людях, с которыми я еще не знаком, но с которыми мне будет гораздо сподручнее познакомиться, через связанных с ними уже известных мне людей.</p>

<p>В-третьих, такой подход становится все более возможным и эффективным по мере создания мной необходимого инструментария для работы с сетевой информацией — наработанная библиотека кода на Лиспе, формат .tree, вывод в html, mysql, neo4j и онтологии, визуализация данных.</p>

<p>Так что не удивляйтесь, если я вам напишу с вопросом о ваших текущих профессиональных и хобби проектах 😊</p>
</body>
